<header>
  <div class="logo">
    <a href="#">
      <img src="../../assets/ehrlogo.png" alt="IceSlopes Logo" />
      <h1>EHR Match Application</h1>
    </a>
  </div>

  <nav>
    <ul class="main-nav">
      <li><a [routerLink]="['/']">Search</a></li>
      <li><a [routerLink]="['/clustering']">Clustering</a></li>
      <li><a [routerLink]="['/patient-profile']">Patient Profile</a></li>
      <li><a [routerLink]="['/patient-comparison']">Patient Comparison</a></li>
    </ul>
  </nav>
</header>
