<footer>
  <div class="footer-top">
    <div class="footer-col col1">
      <h5>The Team: MedViz</h5>
      <p>
        Jasmin Cho<br/>
        Adam Morvant<br/>
        Isaac Ovideo<br/>
        Julian Tiu<br/>
      </p>
    </div>
    <div class="footer-col col2">
      <h5>Navigate</h5>
      <a [routerLink]="['/']">Search</a><br/>
      <a [routerLink]="['/clustering']">Clustering</a><br/>
      <a [routerLink]="['/patient-profile']">Patient Profile</a><br/>
      <a [routerLink]="['/patient-comparison']">Patient Comparison</a>
    </div>
    <div class="footer-col col3">
      <h5>What We're About</h5>
      <p>
        EHR Match will be an application that will visualize clusterings of patients
        using electronic health record data. The interactable side of the application
        will be easy to use, concise, provide patient search capabilities, and make
        use of graphs and plots to be visually appealing. The graphs and plots
        mentioned will have customizable variables to tailor the information presented
        to the needs of the user. The non-interactable side of the application will
        pull data from a database, process said data, and generate clusters of similar
        patients given variables that users will provide. In addition to clusters,
        patient profiles containing demographic information, admittance reasons,
        and lab vitals will be created for further analysis by the users.
      </p>
    </div>
  </div>
</footer>
